src/main/mule/mulesoft-flyway-integration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
  <configuration-properties doc:name="Configuration properties" doc:id="d430a137-3ccb-4a5c-abd3-29d38dd55a7f" file="application.properties" />
  <spring:config name="Spring_Config" doc:name="Spring Config" doc:id="3f6e82a4-b20f-4861-a44c-4c84b7123789" files="beans.xml" />
  <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1c4424e6-5d39-40d9-b080-8514f12bc35e" >
    <http:listener-connection host="0.0.0.0" port="8081" />
  </http:listener-config>
  <db:config name="Database_Config" doc:name="Database Config" doc:id="38de0caa-5977-44bc-aeb0-f2b808abf6de" >
    <db:data-source-connection dataSourceRef="dataSource" />
  </db:config>
  <flow name="mulesoft-flyway-integrationFlow" doc:id="b3d4e14d-256f-4cf0-81be-adc98214b9fd" >
    <http:listener doc:name="Listener" doc:id="c8798b79-0ffc-4c64-bacf-fc4cebabb947" config-ref="HTTP_Listener_config" path="/test"/>
    <db:select doc:name="Select" doc:id="6099289a-dfe1-48de-889e-1a9729f11864" config-ref="Database_Config">
      <db:sql ><![CDATA[select * from accounts;]]></db:sql>
    </db:select>
    <ee:transform doc:name="Transform Message" doc:id="35a0a3e2-bcea-40da-84b9-65be4dff3757" >
      <ee:message >
        <ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
      </ee:message>
    </ee:transform>
    <logger level="INFO" doc:name="Logger" doc:id="a71fa720-e0d9-4681-afc1-372f46244e4b" message="#[payload]"/>
  </flow>
</mule>
